body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 410px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding:15px;
  margin: 10px auto;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  display: block;
  padding: 15px;
  margin:10px auto;
}

.button-container {
  background: #e3f4ff;
  display: block;
  text-align:center;
  padding: 10px;

}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 10px;
  font-size: 16px;
}